In [17]:
print("welcome to python")

welcome to python

In [18]:
print("12345678")

12345678

In [18]:
print("hello world", "python series")

hello world python series

In [20]:
m=int(input("Enter Value"))
if m>33:
  print("pass")
elif m==33:
    print("Reati Passs")

else:
  print("Fail.....")

Fail.....

In [ ]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('orange') 
print(fruits)

In [11]:
a=10
b=20
print('a',b)
print(a,b)
print(id(a),id(b))
c="hello"
print(c)
a1=35
print(a1)
a_b=100
print(a_b)

a 20
10 20
140731633027800 140731633028120
hello
35
100

In [21]:
value = int(input("Enter the value: "))

if value > 40:
    print("Pass")
elif value == 32:
    print("Fail")
else:
    print("Neither Pass nor Fail")

Pass

In [17]:
a=10
b=20
print(a,b)
print(b)
print(id(a),id(b))
a1=35
print(a1)

10 20
20
140731633027800 140731633028120
35

In [1]:
m=int(input("enter the value"));
n=int(input("enter the value"));
#=m+n
print(m+n)

90

In [23]:
a=int(input("enter the value"))
b=int(input("nter the value"))
c=int(input("nter the value"))
#=a*b/c
print(a*b/c)

484.0

In [24]:
#find the hotest day in a weak
monday=(input("enter the value"))
tuesday=(input("enter the value"))
vensday=(input("enter the value"))
thursday=(input("enter the value"))
friday=(input("enter the value"))
saturday=(input("enter the value"))
sunday=(input("enter the value"))
#print the highest value
print=("max value")

In [25]:
name="muhammad SAW"
age="63year"
print=(name)
print=(age)

In [19]:
print("hello word")

hello word

In [ ]:
name="muhammad SAW"
age=63
print (name)
print (age)

muhammad SAW
63

In [ ]:
name=("ali")
age=("64")
name2=("ahmad")
print(name)
print(age)
print(name2)

ali
64
ahmad

In [ ]:
name=("amjadali")
age=("19")
belong=("dgkhan")
print(name)

amjadali

In [ ]:
name=("tony stark")
age=("51year old")
ability=("genius")
print(ability)

genius

In [ ]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
#print=a*b/c
print(a*b/c)

10.384615384615385

In [ ]:
a=input("enter the value")
b=input("enter the value")
c=input("enter the value")
d=input("enter the value")
e=input("enter the value")
f=input("enter the value")
#display the highest temprature
print=("display the highest temprature")

In [ ]:
name=input("what is ypur hero")
print(name)

In [ ]:
# Create a list
my_list = [1, 2, 34, 45, 67, 8]

# Calculate the sum of the list
list_sum = sum(my_list)

# Print the result
print("Sum of the list:", list_sum)

Sum of the list: 157

In [ ]:
function = ["i love pakistan"]
#display on screen 100 times
run =("for loop")
print =(function)
run =("for loop")

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
prinr= (numbers)

In [ ]:
# Simple for loop to print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
# Simple for loop to print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [25]:
x = "hello"
y="wscubetech"
print(x+" "+y)
c=20
print(c+30)

hello wscubetech
50

In [30]:
a=5
b = 5
print(a)
print(b)
print(a+b)
print(a,b)
a1=35
print(a1+15)

5
5
10
5 5
50

In [33]:
a="adla"
b="sykoo"
print(a+b)
a="python"
b="series"
print(a+b)
a=35
b=15
print(a+b)

adlasykoo
pythonseries
50

In [37]:
a=5
b=5
print(a+b)

10

In [ ]:
a=30
class Foo:
    b = 5

dummyFoo = Foo()
print('id of dummyFoo =',id(dummyFoo))

In [6]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(b%3)
print(5**2)
print(22%3)
print(9**3) #9*9*9

30
-10
200
0.5
2
25
1
729

In [12]:
print(100%75)
print(22/3)
print(22//3)

25
7.333333333333333
7

In [ ]:
a =int(input("enter the value"))
if a > 40:
    print("pass")
elif a <= 40:
    print ("fail")
else:
    print("other thing")

In [3]:
a =int(input("enter the value"))
if a > 40:
    print("pass")
elif a <= 40:
    print ("fail")
else:
    print("other thing")

pass

In [11]:
a=int((input)("enter the value"))
if a > 35:
    print("pass")
elif a <= 20:
    print("fail")
else:
    print("thins")

fail

In [4]:
import time
lst=["ladla sykoo"]
for a in range(100):
    
    print (lst [0:])
    #delay the lst for in ms(1000ms)
time.sleep(1000)

['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']
['ladla sykoo']

In [4]:
a= int(input("enter the value"))
if a > 35:
    print ("pass")
elif a <= 20:
    print("fail")
else:
    print("other")
    a

pass

In [3]:
a=int(input("enter the value"))
if a > 40:
    print("pass")
elif a <= 30:
    print("fail")
else:
    print("something")

something

In [19]:
lst = ["1", "2", "3", "4", "5", "6", "7", "8"]
element = lst[1]
print(lst[0:3])

['1', '2', '3']

In [2]:
lst = ["1,2,3,4,5,6,7,8,9"]
# Split the string into a list of individual elements
elements = lst[0].split(',')

for a in range(5):  # Fix: Use an integer argument in the range function
    print(elements)

['1', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [1]:
m=int(input("enter the value"));
n=int(input("enter the value"));
#=m+n
print(m+n)

68

SyntaxError: unmatched ')' (572691033.py, line 1)

In [3]:
a=int((input)("enter the value"))
b=int((input)("enter the value"))
r=(a+b)

In [1]:
a="heloo"
print('h'in a)

True

In [5]:
a="aldjh""wdhqwq"
print('p'in a)

False

In [12]:
x=15
y=17
print(x!=y)

True

In [20]:
x=15
y=14
print(x&y)

14

In [4]:
x=15
y=14
print(bin(x))
print(bin(y))

0b1111
0b1110

In [7]:
lst=[11,22,33,44,55,66,77,88,90]
print(lst[3:4])

[44]

In [1]:
a=input("enter the value")
print(a)

45

In [2]:
a=input("enter the value")
b=input("enter the value")
print(a+b)

4515

In [9]:
a=int(input("enter the value"))
b=int(input("enter the value"))
print(a+b)

24

In [11]:
a=float(input("enter the value"))
b=float(input("enter the value"))
print(a+b)

69.28

In [13]:
a=eval(input("enter the value"))
b=eval(input("enter the value"))
print(a+b)

21.0

In [12]:
a=int(input("Enter the value"))
if a%2==0:
   print("even number")

even number

In [14]:
a = 20
if a%2==0:
  print("even number")
else:
    print("odd number")

even number

In [28]:
a = 100001
if a%2==0:
    print("even number")
else:
    print("odd number")

odd number

In [32]:
a = 45
if a> 50:
    print("pass")
else:
    print("fail")

fail

In [49]:
a = 50

if a>10:
     print("pass")
elif a>60:
     print("fail")
 
else:
    print("error")

pass

In [56]:
a= int (input("enter  the value"))
b= int (input("enter  the value"))
c= int (input("enter  the value"))
#i'm 100 % sure programe is execute without error
if a> 50:
    print("pass")
    print("pass")
    print("pass")
elif b<25:
    print("fail")
elif c>20:
    print("raiete pass")
else:
    print("failur student")

pass
pass
pass

In [61]:
a = int(input("enter the value"))
b = int(input("enter the value"))

# the error is auto correct in python
if a>10:
    print("pass")
elif b==8:
    print("fail")
else:
    print("end")

end

In [10]:
print('''
+ Add
- Subtract
* Multiply
/ Divide
''')

num1 = int(input("Enter the value for num1: "))
num2 = int(input("Enter the value for num2: "))
opr = input("Operator: ")

if opr == "+":
    result = num1 + num2
    print(f"{num1} + {num2}")
    
elif opr == "-":
    result = num1 - num2
    print(f"{num1} - {num2} ")

elif opr == "*":
    result = num1 * num2
    print(f"{num1} * {num2} ")

elif opr == "/":
    if num2 != 0:
        result = num1 / num2
        print(f"{num1} / {num2} ")
    else:
        print("Error: Division by zero")

else:
    print("Invalid operator. Please choose from +, -, *, /")

+ Add
- Subtract
* Multiply
/ Divide

7 + 7

In [ ]:
print('''
+ Add
- Subtract
* Multiply
/ Divide
''')

num1 = int(input("Enter the value for num1: "))
num2 = int(input("Enter the value for num2: "))
opr = input("Operator: ")

if opr == "+":

In [2]:
print('''
+ Add
- Subtract
* Multiply
/ Divide
''')
a=int (input("Enter the value"))
b=int (input("Enter the value"))
opr=input("Enter the opr...")
if opr=="+":
    print(a+b)
elif opr=="-":
    print(a-b)
elif opr=="*":
    print(a*b)
elif opr=="/":
     print(a/b)
else:
    print("invalid oprator...")

+ Add
- Subtract
* Multiply
/ Divide

38

In [4]:
print('''
+ Add
- Subtract
* Multiply
/ Divide
''')
a=int(input("Enter the value"))
b=int(input("Enter the value"))
opr=input("Enter opr...")
if opr=="+":
    print(a+b)
elif opr=="-":
    print(a-b)
elif opr=="*":
    print(a*b)
elif opr=="/":
    print(a*b)
else:
    print("invalid oprator...")

+ Add
- Subtract
* Multiply
/ Divide

128384

In [5]:
a=int (input("Enter the value"))
b=int (input("Enter the value"))
c=int (input("Enter the value"))
# we can find out the mathimatical calculation on this point
print(a+b-c)

-299

In [4]:
for n in ("5"):
    print(4)

4

In [3]:
for n in range(5):
    print(n)
    print()
for n in range(1,4,8):
    print(n)

0

1

2

3

4

1

In [23]:
for n in range(1,6,2):
    print(n)

1
3
5

In [24]:
for n in range(1,6,2):
#start =1
#condition >6
#increment 2
    print(n)

1
3
5

In [35]:

for a in range(5):
    print("pak")

pak
pak
pak
pak
pak

In [48]:
for n in range(2,0,7):
    print("n")

In [53]:
for a in range(1,11):
    print("2*",a,"=",2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [57]:
for a in range(1,11):
#table arrangemant
    print("3*",a,"=",3*a)

3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27
3* 10 = 30

In [5]:
for a in range(1,11):
    print("4*",a,"=",4*a)

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [ ]:
a=int(input("Enter the value"))
b=int(input("Enter the value"))
opr=input("+","-","*","/")
opr=

In [17]:
w = "pak army"

t = len(w)
print(t)
for a in range(t-1,-1,-1):
    print(w[a])

8
y
m
r
a

k
a
p

In [7]:
w= "WELCOME to pak"
n=w.lower ()
print(n)

welcome to pak

In [8]:
w ="the fox jump over the lazy dog"
u=w.upper()
print(u)

THE FOX JUMP OVER THE LAZY DOG

In [11]:
w ="the fox jump over the lazy dog"
t=w.title()
print(t)

The Fox Jump Over The Lazy Dog

In [13]:
w ="the fox jump Over the Lazy dog"
c=w.capitalize()
print(c)

The fox jump over the lazy dog

In [23]:
w ="the fox jump Over the Lazy dog"
print(w.find('e',3))

15

In [27]:
w ="the fox jump Over the Lazy dog"
print(w.index('e',3))

15

In [28]:
w ="the fox jump Over the Lazy dog"
u=w.title()
print(u)

The Fox Jump Over The Lazy Dog

In [30]:
w ="The fox jump Over the Lazy dog"
l=w.lower()
print(l)

the fox jump over the lazy dog

In [36]:
w ="pakistan"
print(w.isalpha())

False

In [37]:
w ="pakistan1233"
print(w.isalpha())

False

In [40]:
w="12389438598"
print(w.isdigit())

True

In [43]:
w= "123weAREPAKISTANI345"
print(w.isalnum())

True

In [59]:
w="welcome  to {} pakistan".format("hello",30);
print(w)

welcome  to hello pakistan

In [62]:
w="welcome {0} to {1} pakistan".format("hello",30);
print(w)

welcome hello to 30 pakistan

In [72]:
w="welcome {a:<12} to {b:10} pakistan".format(a="greAT",b="NICE");
print(w)

welcome greAT        to NICE       pakistan

In [79]:
lst=[21,3,45,67,87,"sykoo",2, '@',]
print(lst[-1:-7])

[]

In [13]:
m=[h for h in range(1,51)]
print(m)

l=[]
for a in range(1,51):
    l.append(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [32]:
l=[12,32,45,56,67,778,98]
l.sort()
print(l)

[12, 32, 45, 56, 67, 98, 778]

In [10]:
l = [10, 20, 30, 40, 50, 60]
l1 = ['23', '54', '67', '98', '0934', '32', '23']
t=len(l)

for a, b in zip(l, l1):
    print(a, b)
    
for h in range(t):
    print(l[h],l1[h])

10 23
20 54
30 67
40 98
50 0934
60 32

In [21]:
n=input("Enter the value")
print(n)
l=n.split();
print(n)

#end

l=[]
for a in range(1,4):
    n=input("Enter the value"+str(a))
    l.append(n)
    print(l)

hjj
hjj
['iujk']
['iujk', 'oilk']
['iujk', 'oilk', 'ikj']

In [5]:
num = float(input("Enter the value:"))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Negative number

In [11]:
x=5
y="jonn"
l= len(y)
print(x,y,l)

5 jonn 4

In [20]:
d={
    'course':'python',
  'fees':8000,
  'duration' : '2 months'
}
d['fees']=10000
d['duration']='3 month'
print(d)

{'course': 'python', 'fees': 10000, 'duration': '3 month'}